<h2>Please Enter The Password</h2>

<div class="form_wrapper">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  
  <% end %>
</div>
