<h2>A little about me...</h2>


<p>
  <center>
    <strong>Lili Yang</strong>
    <br>
    yanglili369@gmail.com
  </center>
</p>

<p>
  <strong>Education:</strong>
  <table>
    <tr>
      <td>Bachelor of Science, California Institute of Technology: <strong>(GPA: 4.0)</strong></td>
      <td class="left_text">June 2011</td>
    </tr>
  </table>
  Double Major: Applied and Computational Mathematics; Business, Economics, and Management
</p>

<p>
  <strong>Work Experience:</strong>
  <table>
    <tr>
      <td>Citigroup Inc - Quantitative Analyst Rotational Program</td>
      <td class="left_text">New York City, New York</td>
    </tr>
    <tr>
      <td>Credit Strategies Analyst</td>
      <td class="left_text">2012 - 2013</td>
    </tr>
  </table>
  <ul>
    <li>Contributed analysis towards the Speculative Grade Credit Weekly, High Yield Strategy Notes, and Leveraged Loan Strategy Notes publications.</li>
    <li>Assisted clients and Citi internal personnel with special data and analysis requests on topics including, but not limited to, ETFs, new issuance, fund flows, default rates, and credit indices.</li>
    <li>Developed models in excel and VBA geared towards a better understanding of and trade ideas generation in the IG and HY credit markets. Some examples: Short-dated Bond Monitor, On-the-Run Spread Report.</li>
  </ul>
</p>

<p>
  <table>
    <tr>
      <td>CMO Trader</td>
      <td class="left_text">2011 - 2012</td>
    </tr>
  </table>
  <ul>
    <li>Structured Collateralized Mortgage Obligations (CMO) products. Worked with accounts to finalize structures and pricing, and to execute the trades.</li>
    <li>Maintained a book of mortgage pools. Duties included bidding on select pool lists, marking to market, maintaining hedges, and allocating pools towards CMO creation. Built an excel tool specifically for this purpose.</li>
    <li>Assisted with the day to day operations of the desk. Worked together frequently with clients, sales, risk control, back office, and technology.</li>
  </ul>
</p>

<p>
  <table>
    <tr>
      <td>CIGNA</td>
      <td class="left_text">Bloomfield, Connecticut</td>
    </tr>
    <tr>
      <td>Actuarial Intern</td>
      <td class="left_text">June - Aug 2010</td>
    </tr>
  </table>
  <ul>
    <li>Tweaked mortality assumptions and assessed reserves for CIGNA’s settlement annuity product</li>
    <li>Automated cash value illustration spreadsheets in excel for CIGNA’s corporate-owned life insurance products</li>
  </ul>
</p>

<p>
  <table>
    <tr>
      <td>Summer Undergraduate Research Fellowship, CIT</td>
      <td class="left_text">Pasadena, California</td>
    </tr>
    <tr>
      <td>Advisor: Professor Leeat Yariv</td>
      <td class="left_text">June - Sept 2009</td>
    </tr>
  </table>
  <ul>
    <li>Examined the influence of the “snowball effect” on US primary elections</li>
  </ul>
</p>

<p>
  <table>
    <tr>
      <td>Advisor: Professor Philip T. Hoffman</td>
      <td class="left_text">June - Sept 2008</td>
    </tr>
  </table>
  <ul>
    <li>Quantitatively explored economic and geopolitical theories as possible explanations for historical nation size.</li>
  </ul>
</p>

<p>
  <strong>Society of Actuary Exams:</strong><br>
  Exam P - Probability; Exam FM - Financial Mathematics
</p>

<p>
  <strong>Computer Skills:</strong><br>
  Microsoft Excel, Microsoft Access, VBA, Mathematica, Matlab, Python, Ruby on Rails
</p>

<p>
  <strong>Other Language Skills:</strong><br>
  Chinese - fluent native speaker; Spanish - intermediate level
</p>

<p>
  <strong>Activities and Interests:</strong>
  <table>
    <tr>
      <td>Caltech Varsity Tennis Team</td>
      <td class="left_text">2007 - 2010</td>
    </tr>
    <tr>
      <td>Classical Piano, solo and ensemble</td>
      <td class="left_text">1998 - Present</td>
    </tr>
    <tr>
      <td>Caltech Freshman Admissions Committee</td>
      <td class="left_text">2008 - 2010</td>
    </tr>
  </table>
  <ul>
    <li>Responsible for reading freshman applications to Caltech and recommending decisions</li>
  </ul>
  <table>
    <tr>
      <td>ASCIT Social Team Member</td>
      <td class="left_text">2007 - 2009</td>
    </tr>
  </table>
  <ul>
    <li>Organized social events for the entire student body of Caltech</li>
  </ul>
  <table>
    <tr>
      <td>Prefrosh Weekend Representative</td>
      <td class="left_text">2008 - 2010</td>
    </tr>
  </table>
  <ul>
    <li>Organized Caltech introductory weekend for prospective freshmen</li>
  </ul>
</p>


