<h2>So what's this all about?</h2>

<p>
    I've been interested in computers and computer programming for a very long time. It is a fascinating and dynamic field of knowledge and is becoming ever more essential to our day to day living. Recently, I've taken a more active interest in learning how to program. I've created this website to keep track of projects that I have been, and will be working on in furtherance of along the way.
</p>

<p>
    This isn't just intended to be a record of my achievements. It's also meant to be a log of the things that I learn along the way. And perhaps, sometime soon, it'll be a way for me to solicit comments and suggestions from others on the web. It is also my hopes that others will find my journey informative.
</p>

<p>
  So without further ado, on to the 
  <%= link_to 'projects...', projects_path %>
</p>